<h1>Student List</h1>

<table>
  <thead>
    <th>First Name</th>
    <th>Last Name </th>
    <th>Age</th>
    <th>Education</th>
  </thead>
  <% @students.each do |student| %>
  <tr>
    <td> <%=student.first_name %></td>
    <td> <%=student.last_name %></td>
    <td> <%=student.age %></td>
    <td> <%=student.education %></td>
  </tr>
  <% end %>
</table>
